@import 'bower_components/bootstrap/dist/css/bootstrap.min';
@import 'bower_components/font-awesome/scss/font-awesome';

// Используй это миксин для всего конфига!
@mixin font-type($font-family, $font-size, $line-height, $letter-spacing) {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

// responsive
@mixin respond-to($media) {

	// mobile first
	@if $media == mobile {@media (max-width: 400px) {@content;}}

	// grid
	@else if $media == xs {@media (max-width: 480px) {@content;}}
	@else if $media == sm {@media (max-width: 767px) {@content;}}
	@else if $media == md {@media (max-width: 991px) {@content;}}
	@else if $media == lg {@media (max-width: 1199px) {@content;}}
	@else if $media == desktop {@media (max-width: 1299px) {@content;}}
	@else {@media (max-width: $media) {@content;}}
}

$OpenS:'Open Sans', sans-serif;

body {
	&.onload {overflow:hidden;}

	/* устанавливаем оптимальный вертикальный ритм */
	@include font-type($OpenS, 14px, 20px, 0px);
	
	/* сглаживание шрифтов в вебките */
	-webkit-font-smoothing: subpixel-antialiased;
			font-smoothing: subpixel-antialiased;
}

/* В дополнение от Bootstrap, <p> (параграфы) получают нижний отступ в половину калькулируемой высоты строки (изначально 10px) */


a {
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

form {
	input,
	select,
	textarea {
		-webkit-appearance: none;
		text-overflow: ellipsis;
		outline: none;

		&:focus,
		&:active {
			text-overflow: ellipsis;
		}
	}

	textarea {
    	resize: vertical;
	}
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* выделение текста */
::-moz-selection {
	color: #ffffff;
    background: fe8c00;
    text-shadow: none;
}

::selection {
	color: #ffffff;
    background: #fe8c00;
    text-shadow: none;
}
