html, body {height: 100%;}
.app {
	min-width: 320px; width: 100%; min-height: 100%; position: relative;
	overflow-x: hidden;
	background: #ffffff;
	&.all {
		background: url(../img/bottom-img.png) no-repeat center bottom;
		&:before {
			content: '';
			display: block; width: 100%; height: 276px; position: absolute; z-index: -1;
			background: url(../img/top-img.png) no-repeat center top;
		}
	}
	&.gallery {
		background: url(../img/bg-gallery.jpg) no-repeat center top;  background-size: cover;
		header.header {margin-bottom: 20px;}
	}
	&.about {
		background: url(../img/about.png) no-repeat left top;
		&:after {
			content: '';
			display: block; width: 100%; height: 642px; position: absolute; bottom: 0; right: 0; z-index: -1;
			background: url(../img/about-bg.png) no-repeat right bottom;
		}
		header.header {
			height: 120px; margin-bottom: 20px;
			.burger {
				color: #fff;
				span {background: #fff;}
			}
		}

		footer.footer {
			.logo {display: none;}
			.white-logo {display: block;}
			p {color: #fff; span {color: #fff;} }
		}
		@include respond-to(lg) {
			background-size: 50%;
			footer.footer {
				.logo {display: block; }
				.white-logo {display: none;}
				p {color: #666; span {color: #f83600;}}
			}
		}
	}
	footer.footer {.white-logo {display: none;}}
}

.container {
	 clear: both;
	@media (min-width: 1200px) {width: 1200px;}
}

h1, h2, h3, h4, h5, h6 {margin: 0;}
address {margin-bottom: 0;}